@model Ajf.RideShare.Web.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Hovedside";
}

<h2 class="leftMarginDefault">Hovedside - RideShare</h2>

<div class="btn btn-default leftMarginDefault bottomMarginDefault">@Html.ActionLink("Tilføj en samkørsel", "Create", "Events",null,new { @id = "addEvent"})</div>

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        foreach (var item in Model.Events)
        {
            <div class="col-md-6 bottomMarginDefault">

                <div>
                    <div class="h3">@Html.ActionLink(@item.Date.ToString("yyyy-MM-dd"), "Details", "Events", new { eventId = item.EventId }, new { @id = "btnEventDetails" })</div>
                    
                    <div>@item.Description</div>

                </div>
            </div>
        }
    }
    <img src="~/rideshare3.png"/>
</div> 