@model ICollection<Ajf.RideShare.Web.Models.ViewModels.Home.EventViewModel>

<div class="eventList">
    <div class="event">
        <div class="eventdescription">Beskrivelse</div><div class="eventtimefrom">Starttidspunkt</div>
    </div>
    @foreach (var eventViewModel in Model.OrderBy(x => x.TimeFrom))
    {
        @Html.Partial("_Event", eventViewModel)
    }

</div>