<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <connectionStrings>
    <add name="RideShareConnection" connectionString="Server=JuulServer2017;Database=RideShare.Web-DEV;User Id=rideshare;Password=rideshare" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Logging -->
    <add key="EsLoggingUrl" value="http://ajf-elastic-01:9200" />
    <add key="LogFileDirectory" value="c:\Logs\" />
    <add key="ReleaseNumber" value="1.0.0.0" />
    <add key="Environment" value="Dev" />
    <add key="ComponentName" value="Migrate" />
    <add key="SuiteName" value="RideShare" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>