@model Ajf.RideShare.Web.Models.Home.EventDetailsViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="event">
    <div class="eventdescription">@Model.Description</div>
    <div class="eventtimefrom">@Model.TimeFrom</div>
    
    Biler <a class="btn btn-default" href="/Cars/Add">Tilføj &raquo;</a>
    <div class="eventcarlist">
        <div class="eventcar">Anders Citroen C4 DG 58123</div>
    </div>
</div>